#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-shell {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.app-shell__content {
  flex: 1;
  display: flex;
}

.app-shell__content > * {
  flex: 1;
}

